/*Animation catalog*/
.a-fade {
  &.ng-animate {
    transition 0.2s linear opacity
  }

  &.ng-enter {
    opacity 0
  }

  &.ng-enter.ng-enter-active {
    opacity 1
  }

  &.ng-leave {
    opacity 1
  }

  &.ng-leave.ng-leave-active {
    opacity 0
  }

  &.ng-hide {
    opacity 0
  }

  &.ng-show {
    opacity 1
  }
}

.a-translate {
  position relative
  &.ng-animate {
    transition 0.6s linear all
  }

  &.ng-enter {
    z-index 8888
    transform translate3d(-100%, 0, 0)
    opacity 0
  }

  &.ng-enter.ng-enter-active {
    transform translate3d(0, 0, 0)
    opacity 1
  }

  &.ng-leave {
    z-index 9999
    transform translate3d(100%, 0, 0)
    opacity 1
  }

  &.ng-leave.ng-leave-active {
    transform translate3d(0, 0, 0)
    opacity 0
  }
}
