<div>

  <!-- Breadcrums -->
  <div class="o-container">
    <div class="o-breadcrums">
      <ul class="o-breadcrums__list u-listnostyle">
        <li class="o-breadcrums__item">
          <a href="#" class="o-breadcrums__link">Home</a>
        </li>
        <li class="o-breadcrums__item js-active">
          <a href="#" class="o-breadcrums__link">Listado de viajes</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- // end Breadcrums -->

  <!-- Page head -->
  <header class="o-pagehead">
    <div class="o-container">
      <div class="o-head o-head--bordered">
        <h1 class="o-head__title">Listado de viajes</h1>
      </div>
    </div>
  </header>
  <!-- // end Page head -->

  <!-- Tabs -->
  <md-content class="o-tabs">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="En tránsito">
        <md-content>

          <!-- Survillance -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">En vigilancia</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab1Surv"></div>
            <!-- // end Travel list directive -->

            <!-- // end Travels table -->
          </div>
          <!-- Survillance -->

          <!-- Other travels -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">Otros viajes</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab1"></div>
            <!-- // end Travel list directive -->
            
            <!-- // end Travels table -->
          </div>
          <!-- Other travels -->

        </md-content>
      </md-tab>
      <md-tab md-active="travelList.pending" label="Por calificar">
        <md-content>

          <!-- Survillance -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">En vigilancia</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab2Surv"></div>
            <!-- // end Travel list directive -->

            <!-- // end Travels table -->
          </div>
          <!-- Survillance -->

          <!-- Other travels -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">Otros viajes</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab2"></div>
            <!-- // end Travel list directive -->

            <!-- // end Travels table -->
          </div>
          <!-- Other travels -->

        </md-content>
      </md-tab>
      <md-tab label="Entregados">
        <md-content>

          <!-- Survillance -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">En vigilancia</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab3Surv"></div>
            <!-- // end Travel list directive -->
            
            <!-- // end Travels table -->
          </div>
          <!-- Survillance -->

          <!-- Other travels -->
          <header class="o-head o-head--divider">
            <h1 class="o-head__title">Otros viajes</h1>
          </header>

          <div class="o-container">
            <!-- Travels table -->

            <!-- Travel list directive -->
            <div csi-travels list="travelList.tab3"></div>
            <!-- // end Travel list directive -->
            
            <!-- // end Travels table -->
          </div>
          <!-- Other travels -->

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  <!-- // end Tabs -->
</div>
