<div>
  <!-- Breadcrums -->
  <div class="o-container">
    <div class="o-breadcrums">
      <ul class="o-breadcrums__list u-listnostyle">
        <li class="o-breadcrums__item">
          <a href="#" class="o-breadcrums__link">Home</a>
        </li>
        <li class="o-breadcrums__item">
          <a href="#" class="o-breadcrums__link">Listado de viajes</a>
        </li>
        <li class="o-breadcrums__item js-active">
          <a href="#" class="o-breadcrums__link">Detalle de viaje</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- // end Breadcrums -->

  <!-- Page head -->
  <header class="o-pagehead">
    <div class="o-container">
      <div class="o-head o-head--bordered">
        <h1 class="o-head__title">Detalle de viaje</h1>
      </div>
    </div>
  </header>
  <!-- // end Page head -->

  <div class="o-container">
    <!-- Travel-->
    <table class="o-table o-travels__table o-travels__table--desktop">
      <tbody>
        <tr>
          <!-- Id travel -->
          <td>
            Viaje:
            <br>
            <span class="o-travels__important">#536476</span>
          </td>
          <!-- Status and start info travel -->
          <td>
            Estatus:
            <span class="o-travels__status o-travels__status--entregado">Entregado</span>
            <br>
            Origen: Lazaro C.
            <br>
            Vehículos: 7
          </td>
          <!-- Date and end info travel -->
          <td>
            ETA: <span class="o-travels__important">17/09/2016 - 20:00</span>
            <br>
            Destino: León
            <br>
            Daños: 1
          </td>
          <!-- Feedback ctrl -->
          <td class="o-travels__feedback u-align-right">
            <a href="#" class="o-travels__feedback-action js-done">
              <i class="fa fa-star o-travels__feedback-icon" aria-hidden="true">
                <span class="o-travels__feedback-cal">3</span>
              </i>
              <span class="o-travels__feedback-label">Calificar</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Table mobile -->
    <table class="o-table o-travels__table o-travels__table--mobile">
      <tbody>
        <tr>
          <!-- Status and start info travel -->
          <td>
            Viaje:
            <br>
            <span class="o-travels__important">#536476</span>
            <br>
            Origen: Lazaro C.
            <br>
            Estatus:
            <span class="o-travels__status o-travels__status--entregado">Entregado</span>
          </td>
          <!-- Date and end info travel -->
          <td>
            ETA:
            <br>
            <span class="o-travels__important">17/09/2016 - 20:00</span>
            <br>
            Destino: León
          </td>
          <!-- Feedback ctrl -->
          <td class="o-travels__feedback u-align-right">
            <a href="#" class="o-travels__feedback-action js-done">
              <i class="fa fa-star o-travels__feedback-icon" aria-hidden="true">
                <span class="o-travels__feedback-cal">3</span>
              </i>
              <span class="o-travels__feedback-label">Calificar</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- // end Travel-->
  </div>


  <!-- Tabs -->
  <md-content class="o-tabs o-tabs--border-head">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Recorrido">
        <md-content>

          <!-- Map directive -->
          <div class="o-trackingmap__map" ui-gmap-google-map center='{ latitude: 45, longitude: -73 }' zoom='8' options="{scrollwheel: false}" style="height:441px"></div>
          <!-- // end Map directive -->

          <!-- Route info -->
          <div class="o-travels__route">
            <ul class="o-travels__steps u-listnostyle">
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">10:00 HRS.</span>
                <i class="o-travels__steps-shape js-done">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-projected">
                      <use xlink:href="#icon-projected"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Proyectado</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">10:15 HRS.</span>
                <i class="o-travels__steps-shape js-done">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-produced">
                      <use xlink:href="#icon-produced"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Producido</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">10:30 HRS.</span>
                <i class="o-travels__steps-shape js-done">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-armed">
                      <use xlink:href="#icon-armed"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Armado</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">10:45 HRS.</span>
                <i class="o-travels__steps-shape js-progress">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-assigned">
                      <use xlink:href="#icon-assigned"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Asignado</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">11:00 HRS.</span>
                <i class="o-travels__steps-shape js-pending">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-pack">
                      <use xlink:href="#icon-pack"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Cargando</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">11:15 HRS.</span>
                <i class="o-travels__steps-shape js-pending">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-intransit">
                      <use xlink:href="#icon-intransit"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">En tránsito</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
              <li class="o-travels__steps-item">
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">17 SEP</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">11:30 HRS.</span>
                <i class="o-travels__steps-shape js-pending">
                  <span class="o-travels__steps-icon">
                    <svg class="o-icon o-icon-assigned">
                      <use xlink:href="#icon-assigned"></use>
                    </svg>
                  </span>
                </i>
                <span class="o-travels__steps-txt o-travels__steps-txt--blue">Por llegar</span>
                <span class="o-travels__steps-txt o-travels__steps-txt--gray">Lázaro Cárdenas, Michoacán</span>
              </li>
            </ul>
          </div>
          <!-- // end Route info -->

        </md-content>
      </md-tab>
      <md-tab label="Vehículos">
        <md-content>

          <div class="o-container">
            <!-- Cars table -->
            <div class="o-cars">
              <table class="o-table o-cars__table" ng-controller="TravelsCtrl as travel">
                <thead>
                  <th>
                    <h1 class="o-head__title">Vin</h1>
                  </th>
                  <th>
                    <h1 class="o-head__title">Familia</h1>
                  </th>
                  <th>
                    <h1 class="o-head__title">Marca</h1>
                  </th>
                </thead>
                <tbody>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">1</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1311</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">2</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1322</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">3</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1333</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">4</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1344</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">5</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1355</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">6</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1366</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                  <tr ng-click="travel.goCarDetail()">
                    <td>
                      <span class="o-cars__index">7</span>
                      <span class="o-cars__vin">1HV25 8372 6112 1377</span>
                    </td>
                    <td>
                      Serie 2
                    </td>
                    <td>
                      BMW
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- // end Cars table -->
          </div>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  <!-- // end Tabs -->

</div>
