<!-- Tracking Map View -->
<div class="o-trackingmap">

  <div class="o-trackingmap__overlay">
    <div class="o-trackingmap__overlay-inner">
      <h1 class="o-trackingmap__title">En este momento no tienes ningún viaje en tránsito.</h1>
      <a ui-sref="home" class="o-trackingmap__back">
        <span class="o-direction o-direction--back-black">Regresar al home</span>
      </a>
    </div>
  </div>

  <!-- Map directive -->
  <div class="o-trackingmap__map" ui-gmap-google-map center='map.data.center' zoom='map.data.zoom'></div>
  <!-- // end Map directive -->

</div>
<!-- // end Tracking Map View -->
