<div>
  <table class="o-table o-table--bordered o-travels__table o-travels__table--desktop">
    <tbody>
      <tr ng-repeat="travel in travels" ng-click="goToDetail(travel.IdViaje)" class="a-fade">
        <td>
          Viaje:
          <br>
          <span class="o-travels__important" ng-bind="travel.IdViaje"></span>
        </td>
        <td>
          Estatus:
          <span class="o-travels__status o-travels__status--porllegar" ng-bind="travel.Status"></span>
          <br>
          Origen:
          <span ng-bind="travel.Origin"></span>
          <br>
          Vehículos:
          <span ng-bind="travel.Vins"></span>
        </td>
        <td>
          ETA:
          <span class="o-travels__important" ng-bind="travel.ETA"></span>
          <br>
          Destino:
          <span ng-bind="travel.Destination"></span>
          <br>
          Daños:
          <span ng-bind="travel.Claims"></span>
        </td>
        <td class="o-travels__feedback u-align-right">
          <a href="#" class="o-travels__feedback-action">
            <i class="fa fa-star o-travels__feedback-icon" aria-hidden="true">
              <span class="o-travels__feedback-cal" ng-bind="travel.Score"></span>
            </i>
            <span class="o-travels__feedback-label">Calificar</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Table mobile -->
  <table class="o-table o-table--bordered o-travels__table o-travels__table--mobile">
    <tbody>
      <tr ng-repeat="travel in travels" ng-click="goToDetail(travel.IdViaje)" class="a-fade">
        <td>
          Viaje:
          <br>
          <span class="o-travels__important" ng-bind="travel.IdViaje"></span>
          <br>
          Origen:
          <span ng-bind="travel.Origin"></span>
          <br>
          Estatus:
          <span class="o-travels__status o-travels__status--porllegar" ng-bind="travel.Status"></span>
        </td>
        <td>
          ETA:
          <br>
          <span class="o-travels__important" ng-bind="travel.ETA"></span>
          <br>
          Destino:
          <span ng-bind="travel.Destination"></span>
        </td>
        <td class="o-travels__feedback u-align-right">
          <a href="#" class="o-travels__feedback-action">
            <i class="fa fa-star o-travels__feedback-icon" aria-hidden="true">
              <span class="o-travels__feedback-cal" ng-bind="travel.Score"></span>
            </i>
            <span class="o-travels__feedback-label">Calificar</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- // end Table mobile -->
</div>
