<div>
  <!-- Menu trigger -->
  <a href="" class="o-menu__trigger" ng-click="toggleMenu()" ng-class="{'js-active':activeMenu}">
    <span class="o-menu__trigger-inner">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
  <!-- // end Menu trigger -->

  <md-sidenav md-component-id="mainMenu" class="o-menu" md-swipe-left="toggleMenu()" md-is-open="activeMenu" md-disable-backdrop="true">
    <!-- Menu logo desktop -->
    <figure class="o-menu__logo">
      <img src="img/lg-csi-menu.png" class="u-imgresponsive" alt="">
    </figure>
    <!-- // end Menu logo desktop -->

    <!-- Menu profile -->
    <div class="o-menu__profile u-cf">
      <div class="o-menu__profile-content">
        <div class="o-menu__profile-pic">
          <figure class="o-menu__profile-fig">
            <img ng-src="{{ user.avatar }}" class="u-imgresponsive" alt="user avatar">
          </figure>
        </div>
        <div class="o-menu__profile-info">
          <span ng-bind="user.name"></span>
          <br>
          <span ng-bind="user.email"></span>
        </div>
      </div>
    </div>
    <!-- // end Menu profile -->

    <ul class="o-menu__list u-listnostyle">
      <li class="o-menu__item">
        <a ui-sref="home" class="o-menu__link" ui-sref-active="js-active" ng-click="toggleMenu()">
          <svg class="o-icon o-icon-home">
            <use xlink:href="#icon-home"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="o-menu__item">
        <a ui-sref="map" ui-sref-active="js-active" class="o-menu__link" ng-click="toggleMenu()">
          <svg class="o-icon o-icon-map">
            <use xlink:href="#icon-map"></use>
          </svg>
          Mapa de rastreo
        </a>
      </li>
      <li class="o-menu__item">
        <a ui-sref="travelList" ui-sref-active="js-active" class="o-menu__link" ng-click="toggleMenu()">
          <svg class="o-icon o-icon-list">
            <use xlink:href="#icon-list"></use>
          </svg>
          Listado de viajes
        </a>
      </li>
      <li class="o-menu__item">
        <a href="#" class="o-menu__link" ng-click="toggleMenu()">
          <svg class="o-icon o-icon-claims">
            <use xlink:href="#icon-claims"></use>
          </svg>
          Reclamos
        </a>
      </li>
      <li class="o-menu__item">
        <a ui-sref="config" ui-sref-active="js-active" class="o-menu__link" ng-click="toggleMenu()">
          <svg class="o-icon o-icon-config">
            <use xlink:href="#icon-config"></use>
          </svg>
          Configuración
        </a>
      </li>
      <li class="o-menu__item">
        <a href="" class="o-menu__link" ng-click="toggleMenu();logout()">
          <svg class="o-icon o-icon-logout">
            <use xlink:href="#icon-logout"></use>
          </svg>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </md-sidenav>

  <!-- menu components -->
  <div class="o-menu__overlay a-fade" ng-click="toggleMenu()" ng-show="activeMenu"></div>
  <!-- // end menu components -->
</div>
