<header class="o-header u-cf">
  <div class="o-header__block u-pull-left">
    <div class="o-header__brand o-header__block-item">
      <h1 class="o-header__brand-logo">
        <a href="#" class="o-header__brand-link">CSI</a>
      </h1>
    </div>
  </div>
  <div class="o-header__block u-pull-right">
    <a href="#" class="o-header__notifications o-header__block-item">
      <svg class="o-icon o-icon-notifications">
        <use xlink:href="#icon-notifications"></use>
      </svg>
      <!-- <span class="o-header__notifications-count">88</span> -->
    </a>

    <a href="#" class="o-header__profile o-header__block-item">
      <span class="o-header__profile-pic">
        <img ng-src="{{ main.user.avatar }}" class="u-imgresponsive" alt="user avatar">
      </span>
    </a>
  </div>
</header>
