/*Message form component*/
.o-message {
  display block
  margin-top 0.5em

  font-weight 500
  font-style italic
  text-align center

  &--error {
    color c_red
  }

  &--success {
    color c_success_bg
  }
}
